.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #f1f5f9;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__wgrRs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 18px;
}
.freeBox__wgrRs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__wgrRs > :global(.__wab_flex-container) > *,
.freeBox__wgrRs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wgrRs > :global(.__wab_flex-container) > picture > img,
.freeBox__wgrRs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wgrRs {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__wtNpu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wtNpu {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__blxXq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.freeBox__jdBO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__prqZr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__prqZr {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__qkRgv {
  object-fit: cover;
  max-width: 100%;
  height: 45px;
  margin-left: 10px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qkRgv {
    height: 35px;
    margin-left: 5px;
  }
}
.h1 {
  width: auto;
  max-width: 100%;
  text-align: right;
  font-size: 30px;
  color: #3f4079;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 16px;
    white-space: pre;
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__mvNga {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 1;
  min-width: 0;
  display: none;
  padding: 0px 8px;
}
.btnDashboard3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnDashboard3 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.svg__b78Sc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 50px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__b78Sc {
    height: 30px;
    flex-shrink: 0;
  }
}
.text__qa7Wf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  user-select: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qa7Wf {
    font-size: 6px;
  }
}
.freeBox___4OQlX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4OQlX {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.lblUser {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  user-select: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lblUser {
    font-size: 12px;
    text-align: center;
  }
}
.btnLogout {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  user-select: none;
  margin-right: 5px;
  cursor: pointer;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #0070f3;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnLogout {
    font-size: 10px;
  }
}
.btnLogin:global(.__wab_instance) {
  max-width: 100%;
  height: 27px;
  flex-shrink: 0;
}
.svg__twLp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__he0G {
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__ljSeD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.gridCalculator2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  margin-top: 8px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridCalculator2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__dZfo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__uFbdt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__aiGt {
  display: flex;
  position: relative;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-end: span 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
}
.text__sgVno {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.text___5MXsj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 10px;
  margin-left: 10px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.svg___53RZw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0Sy6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.gridCalculator3 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 10px;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridCalculator3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__yLjts {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.gridInvoice1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 10px;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridInvoice1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__nwsmg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.sideEffectPageLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
