.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #f1f5f9;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__wgrRs {
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 0px 18px;
}
.freeBox__wgrRs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__wgrRs > :global(.__wab_flex-container) > *,
.freeBox__wgrRs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wgrRs > :global(.__wab_flex-container) > picture > img,
.freeBox__wgrRs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wgrRs {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__wtNpu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wtNpu {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__blxXq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.freeBox__vfyou {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jdBO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__prqZr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__prqZr {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__qkRgv {
  object-fit: cover;
  max-width: 100%;
  height: 45px;
  margin-left: 10px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qkRgv {
    height: 35px;
    margin-left: 5px;
  }
}
.h1 {
  width: auto;
  max-width: 100%;
  text-align: right;
  font-size: 30px;
  color: #3f4079;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 16px;
    white-space: pre;
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__mvNga {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 1;
  min-width: 0;
  display: none;
  padding: 0px 8px;
}
.btnDashboard3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnDashboard3 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.svg__b78Sc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 50px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__b78Sc {
    height: 30px;
    flex-shrink: 0;
  }
}
.text__qa7Wf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  user-select: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qa7Wf {
    font-size: 6px;
  }
}
.freeBox___4OQlX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4OQlX {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.lblUser {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  user-select: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lblUser {
    font-size: 12px;
    text-align: center;
  }
}
.btnLogout {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  user-select: none;
  margin-right: 5px;
  cursor: pointer;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #0070f3;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnLogout {
    font-size: 10px;
  }
}
.btnLogin:global(.__wab_instance) {
  max-width: 100%;
  height: 27px;
  flex-shrink: 0;
}
.svg__twLp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__he0G {
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__ljSeD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.gridCalculator2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  margin-top: 8px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 1px;
  margin-right: 1px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridCalculator2 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding-top: 0px;
  }
}
.freeBox__dZfo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dZfo {
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-end: span 2;
  }
}
.cbProductlist:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cbProductlist:global(.__wab_instance) {
    align-self: center;
    height: 39px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lX8IZ {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__uFbdt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uFbdt {
    display: none;
  }
}
.freeBox__aiGt {
  display: flex;
  position: relative;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-end: span 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aiGt {
    grid-column-end: span 3;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__bYmeb {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bYmeb {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0px;
  }
}
.freeBox___3OBad {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px 0px;
}
.txtRemainingText {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtRemainingText {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 14px;
    text-align: center;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.txtRemainingValue {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 2px;
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtRemainingValue {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 14px;
    text-align: center;
    left: auto;
    top: auto;
    min-width: 0;
    margin: 0px;
  }
}
.freeBox__dLpxl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 2px;
}
.btnPay:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  height: 30px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnPay:global(.__wab_instance) {
    width: 35px;
    height: 15px;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.svg___53RZw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6C57K {
    text-align: center;
    font-size: var(--token-A5TMwx8qQHfL);
  }
}
.svg___0Sy6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.gridInvoice1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridInvoice1 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.freeBox__nwsmg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__ecZ3V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ecZ3V {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox___2NkoK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__spZ98 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__spZ98 {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__e7Ml0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  grid-column-end: span 2;
  min-width: 0;
}
.text__gmjpK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gmjpK {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__piKZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__cj3GE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cj3GE {
    font-size: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__ydgyO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__hbBO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hbBO {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    min-width: 0;
  }
}
.gridInvoice12 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridInvoice12 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
.freeBox___7L5Fd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7L5Fd {
    align-items: center;
    justify-content: center;
  }
}
.text__b9TAi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b9TAi {
    font-size: 10px;
    align-self: center;
  }
}
.freeBox__yy3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yy3L {
    align-items: center;
    justify-content: center;
  }
}
.text__k5RNe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k5RNe {
    font-size: 10px;
    align-self: center;
  }
}
.freeBox___5KBuV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  grid-column-end: span 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5KBuV {
    align-items: center;
    justify-content: center;
    grid-column-end: span 3;
  }
}
.text__mS8Qi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mS8Qi {
    font-size: 10px;
    align-self: center;
  }
}
.freeBox__kPny5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kPny5 {
    align-items: center;
    justify-content: center;
  }
}
.text___07T8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___07T8 {
    font-size: 10px;
    align-self: center;
  }
}
.freeBox__wy9LE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wy9LE {
    align-items: center;
    justify-content: center;
  }
}
.btnInvoiceInfo:global(.__wab_instance) {
  max-width: 100%;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnInvoiceInfo:global(.__wab_instance) {
    width: 35px;
    height: 15px;
    align-self: center;
  }
}
.svg__hxJw2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zgEzb {
    font-size: var(--token-A5TMwx8qQHfL);
    text-align: center;
  }
}
.svg__aTsnp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___2D3Ga {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xbkv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbkv {
    grid-column-end: span 2;
  }
}
.freeBox__znizp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__znizp {
    display: none;
  }
}
.waitingIcon3 {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 35px;
  position: relative;
  margin-top: 20px;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
}
.freeBox__xFOpB {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xFOpB {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__ygPp9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ygPp9 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text___6Stlm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__ldTv2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ldTv2 {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__bdf2M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nCeRw {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nCeRw {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__spKbd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spKbd {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__gebaj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__a3M6J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a3M6J {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__wkIla {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lsUFj {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lsUFj {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__enHqe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__enHqe {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__lrloq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__equS9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__equS9 {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__jMk9U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mEp8K {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mEp8K {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__b4P7E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b4P7E {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__ggAq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ggAq {
    margin-top: 3px;
  }
}
.freeBox__hhIqV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hhIqV {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__wpwxH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wpwxH {
    margin-top: 3px;
  }
}
.freeBox__qipT {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qipT {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__hhpNy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hhpNy {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__wFukn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wFukn {
    margin-top: 3px;
  }
}
.freeBox__sfHae {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sfHae {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text___9EnGs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9EnGs {
    margin-top: 3px;
  }
}
.sideEffectPageLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.waitingIcon {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 35px;
  position: fixed;
  margin-top: 20px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .waitingIcon {
    height: 20px;
  }
}
.sideEffectFirstLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
