.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 10px;
  padding: 8px 0;
  border: 1px solid #ffffff;
}
.section > * {
  grid-column: 4;
}
.freeBox___4W513 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px 8px;
}
.freeBox__zpczd {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zpczd {
    animation: none;
  }
}
.text__oMrUo {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 0px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oMrUo {
    animation: none;
    font-size: 18px;
    text-align: right;
    width: auto;
  }
}
.svg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    animation: none;
  }
}
.freeBox__e545Y {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e545Y {
    animation: none;
  }
}
.freeBox__mgza5 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Qwum {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__hdkXn {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 0px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hdkXn {
    animation: none;
    font-size: 18px;
    text-align: right;
    width: auto;
  }
}
.freeBox__pIIvH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 3;
  min-width: 0;
  padding: 8px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sk5AQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__izzsL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
