.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#f1f5f9, #f1f5f9), #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  margin-top: 20px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 10px;
}
.section > * {
  grid-column: 4;
}
.freeBox__hK6S5 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__iqfWt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__eKwF3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 20px;
}
.svg__mqalF {
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 25px;
  margin-right: 20px;
  flex-shrink: 0;
}
.freeBox__xTKzb {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__gdSfj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zwUJe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.text__yseFz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 10px;
}
.freeBox__au6T8 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__sfTyP {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__bm6Te {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.text__aG9R2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 10px;
}
.freeBox__wADcr {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.accordionItem___8Gjun:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__k4Fll {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vHu42 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pc9Ej {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button__rYgx:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cU9Cz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__phPvp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordionItem__u9Sgw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__chiep {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wBqB {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___2Oe1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vQCxv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem__gAtO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cR8FC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__abHoO {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ttcF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 0px;
}
.text__hBa52 {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__fkxfa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__j6U {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j6U {
    grid-column-end: span 2;
    padding-left: 8px;
  }
}
.text___0Gopl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0Gopl {
    min-width: 90px;
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.textShowIban:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___0RNjm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fys4X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zx7YB {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zx7YB {
    width: 20px;
    flex-shrink: 0;
  }
}
.freeBox__c63Bw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c63Bw {
    grid-column-end: span 2;
  }
}
.text__yrJg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yrJg {
    min-width: 90px;
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.txtShowRpey:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fdYsE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fs7Dh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___1Oe0X {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___1Oe0X {
    width: 20px;
    flex-shrink: 0;
  }
}
.freeBox__leDkh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__leDkh {
    grid-column-end: span 2;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.text___2Ha0Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2Ha0Y {
    min-width: 90px;
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.txtShowAmount:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___3HEc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ylOn6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0Dq3G {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0Dq3G {
    width: 20px;
    flex-shrink: 0;
  }
}
.freeBox__mj9Bp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__fAf9C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__eaU9V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lT0I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ndTvO {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___4Qy0P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.txtPayaRpey:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iresN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__s30SB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__td780 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.button__fdn28:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 0px;
}
.svg__e5Mdh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uftoF {
  padding-right: 0px;
}
.svg__ye7Wz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__zv6Q {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__yowNc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__pi3V:global(.__wab_instance) {
  max-width: 100%;
}
.svg__x9S3Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rSqzC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__oh8Vp {
  margin-right: 20px;
  display: flex;
}
.button___1HrS:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mzH4W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jkj2Q {
  margin-right: 20px;
  margin-left: 20px;
}
.svg___1DE1X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__uxN0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___4A4Nw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wKy41 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffectPageLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
