.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__el71G {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 10px;
  padding: 8px 0;
  border: 1px solid #ffffff;
}
.section__el71G > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__el71G {
    display: grid;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__el71G > * {
    grid-column: 4;
  }
}
.freeBox___4W513 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4W513 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__zpczd {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zpczd {
    animation: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0px;
    padding: 0px;
  }
}
.img__s7A3I {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img__s7A3I > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__s7A3I {
    width: 30px;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.text__tt10U {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  color: var(--token-N7E-iBLBGvbe);
  font-weight: 800;
  align-self: auto;
  margin-right: 3px;
  text-align: right;
  left: auto;
  top: auto;
  z-index: 1;
  padding-top: 2px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tt10U {
    margin-right: 8px;
    color: var(--token-N7E-iBLBGvbe);
    position: relative;
    left: auto;
    top: auto;
    padding-top: 2px;
  }
}
.svg__ywAn8 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  color: var(--token-HEGGDBNcnkKS);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ywAn8 {
    animation: none;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.freeBox__e545Y {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e545Y {
    animation: none;
  }
}
.freeBox__mgza5 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___8Qwum {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__hdkXn {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  padding-bottom: 0px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hdkXn {
    animation: none;
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox__f1XqE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__gSthV {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  padding-bottom: 0px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: var(--token-8RIBceAFlV8p);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gSthV {
    animation: none;
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox__qSd5 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qSd5 {
    animation: none;
  }
}
.freeBox___8DxW {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bu3Bj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__q0X5N {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  padding-bottom: 0px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q0X5N {
    animation: none;
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox___77Tb1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  grid-column-end: span 3;
  min-width: 0;
  padding: 8px;
}
.txtAmount:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8UpOu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__irLlc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___04YF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-K7dwex6Q3HrV);
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
.freeBox__u3FHn {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u3FHn {
    animation: none;
  }
}
.freeBox__om7Cg {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eTbjJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__b13Ug {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-HEGGDBNcnkKS);
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
.button__gCvRa:global(.__wab_instance) {
  max-width: 100%;
}
.svg__puZbe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kBo4K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__wJDgg {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 10px;
  padding: 8px 0;
  border: 1px solid #ffffff;
}
.section__wJDgg > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wJDgg {
    display: grid;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wJDgg > * {
    grid-column: 4;
  }
}
.freeBox__qq8I {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qq8I {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__zWeDv {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zWeDv {
    animation: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0px;
    padding: 0px;
  }
}
.img__sK1Hf {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img__sK1Hf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sK1Hf {
    width: 30px;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.text__c0Lxz {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  color: var(--token-N7E-iBLBGvbe);
  font-weight: 800;
  align-self: auto;
  margin-right: 3px;
  text-align: right;
  left: auto;
  top: auto;
  z-index: 1;
  padding-top: 2px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c0Lxz {
    margin-right: 8px;
    color: var(--token-N7E-iBLBGvbe);
    position: relative;
    left: auto;
    top: auto;
    padding-top: 2px;
  }
}
.svg__zq7QO {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  color: var(--token-HEGGDBNcnkKS);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zq7QO {
    animation: none;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.freeBox__csl4K {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__csl4K {
    animation: none;
  }
}
.freeBox___3YjQ2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__htNqZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__cySms {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-hrMucCmuVP2a);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.text__xU50 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 5px;
  padding-right: 0px;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  padding-bottom: 0px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: var(--token-Z7tAkk9KA7lq);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xU50 {
    animation: none;
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox__ticJa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ticJa {
    display: flex;
  }
}
.text__dYzuo {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 5px;
  padding-right: 0px;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  padding-bottom: 0px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: var(--token-HEGGDBNcnkKS);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dYzuo {
    animation: none;
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox__kR2Ra {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kR2Ra {
    animation: none;
  }
}
.freeBox__jDaK0 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fOzUo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___45H5S:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bzmpB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hKs8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__zwP9V {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 10px;
  padding: 8px 0;
  border: 1px solid #ffffff;
}
.section__zwP9V > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zwP9V > * {
    grid-column: 4;
  }
}
.freeBox__csEvg {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px 8px;
}
.freeBox__imbei {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__imbei {
    animation: none;
  }
}
.svg__clk1D {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__clk1D {
    animation: none;
  }
}
.img__uR2F {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img__uR2F > picture > img {
  object-fit: cover;
}
.img__yYZjY {
  object-fit: cover;
  max-width: 100%;
}
.img__yYZjY > picture > img {
  object-fit: cover;
}
.img__t9QVd {
  object-fit: cover;
  max-width: 100%;
}
.img__t9QVd > picture > img {
  object-fit: cover;
}
.img__aOO8 {
  object-fit: cover;
  max-width: 100%;
}
.img__aOO8 > picture > img {
  object-fit: cover;
}
.img__kWcMs {
  object-fit: cover;
  max-width: 100%;
}
.img__kWcMs > picture > img {
  object-fit: cover;
}
.img__icBr3 {
  object-fit: cover;
  max-width: 100%;
}
.img__icBr3 > picture > img {
  object-fit: cover;
}
.img__zhx4C {
  object-fit: cover;
  max-width: 100%;
}
.img__zhx4C > picture > img {
  object-fit: cover;
}
.img__kgVd {
  object-fit: cover;
  max-width: 100%;
}
.img__kgVd > picture > img {
  object-fit: cover;
}
.img__tnt9L {
  object-fit: cover;
  max-width: 100%;
}
.img__tnt9L > picture > img {
  object-fit: cover;
}
.img__mqh8Q {
  object-fit: cover;
  max-width: 100%;
}
.img__mqh8Q > picture > img {
  object-fit: cover;
}
.img__hb9Yc {
  object-fit: cover;
  max-width: 100%;
}
.img__hb9Yc > picture > img {
  object-fit: cover;
}
.img__wqU3W {
  object-fit: cover;
  max-width: 100%;
}
.img__wqU3W > picture > img {
  object-fit: cover;
}
.sideeffectPageload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.onLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
