.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-OWTNIXc4x-Kq);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__fqPdY {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-OWTNIXc4x-Kq);
}
.radio__dQc7P:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__pFdzb:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__iJ99:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
