.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-K7dwex6Q3HrV);
  font-family: var(--token-MkbnMwXkd8kD);
  font-size: var(--token-47OV58sQCreB);
  line-height: var(--token-7e8VbIXsctbi);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
