.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__voMn {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__od0Gj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 1;
  min-width: 0;
  padding: 0px 8px;
}
.txtTransferMobile:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9TgJi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7V3G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__txVq {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__rxprk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 3;
  min-width: 0;
  padding: 0px 8px;
}
.txtTransferPrice:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sjQo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tgFVx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gItPc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px;
}
.text__cQdI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-5Ye_3XTSaP9X);
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cQdI {
    font-size: var(--token-VrIY9r5RDQZ_);
    margin-right: 20px;
  }
}
.freeBox__a90Vq {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__pmfMq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.txtTitle:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zLAlR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ryJcW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__lEKcZ {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__umaNh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.txtTransferCode:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kKzQl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fzmWr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yXoKs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__mHneo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-5Ye_3XTSaP9X);
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.freeBox__yyv {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__bEjdf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 1;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__iIom {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-5Ye_3XTSaP9X);
  background: var(--token-DbGdjBpQ6R_X);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
  border-width: 2px;
}
.freeBox__oOk1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--token-5Ye_3XTSaP9X);
  background: none;
  min-width: 0;
  padding: 0px;
}
.text__j9AWu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-5Ye_3XTSaP9X);
  background: none;
  transition-property: all;
  transition-duration: 1s;
  line-height: 1.7;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j9AWu {
    font-size: var(--token-VrIY9r5RDQZ_);
    text-align: justify;
  }
}
.freeBox__d3ZKu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  background: none;
  min-width: 0;
  padding: 0px;
}
.text__nwPe0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-5Ye_3XTSaP9X);
  background: none;
  line-height: 1.7;
  font-weight: 700;
  margin-top: 5px;
  padding: 0px;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin-right: 8px;
}
.svg___5GyiH {
  object-fit: cover;
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__ifEu2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hooZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fCcHp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7HSVr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dyLmt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bW7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bnmjF {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 50px;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bnmjF {
    min-height: 120px;
  }
}
.freeBox__bVeXq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 3;
  min-height: 60px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__tIjIe {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__quMdf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button__obTbp:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ls7Ik {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__spKn {
    padding-top: 0px;
  }
}
.svg__nB2Pf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__nedCb:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 10px;
}
.svg__aVcKj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2TLeQ {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.svg__wnsCd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xcDa1:global(.__wab_instance) {
  max-width: 100%;
}
.svg__x75Mh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q0Kzk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rqrJz {
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
