.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.apiGetBookCount:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mstIv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetIncome:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__l3HZb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__smXhf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetbalance:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___8B58 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__uHaQx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetBalanceOnlineVisit:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__eu4V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__kEb08 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetTotalOnlineVisit:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mvrIb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__n9Auy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetTotal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nPsL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text___6M1J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-_c276Gs_1FIE);
    column-gap: 0px;
  }
}
.bookcount {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-color: var(--token-ct9q_Fh0pmQL);
  border-top-width: 5px;
  border-right-color: var(--token-BU1JCAY6hntB);
  border-right-width: 3px;
  border-left-color: var(--token-BU1JCAY6hntB);
  border-left-width: 3px;
  border-bottom-color: var(--token-BU1JCAY6hntB);
  border-bottom-width: 3px;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__eRKc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__jiBx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.income {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-color: var(--token-ct9q_Fh0pmQL);
  border-top-width: 5px;
  border-right-color: var(--token-BU1JCAY6hntB);
  border-right-width: 3px;
  border-bottom-color: var(--token-BU1JCAY6hntB);
  border-bottom-width: 3px;
  border-left-color: var(--token-BU1JCAY6hntB);
  border-left-width: 3px;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text___0DqjS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__t7Gc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.balance {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 5px;
  border-top-color: var(--token-ct9q_Fh0pmQL);
  border-right-width: 3px;
  border-left-width: 3px;
  border-bottom-width: 3px;
  border-right-color: var(--token-BU1JCAY6hntB);
  border-left-color: var(--token-BU1JCAY6hntB);
  border-bottom-color: var(--token-BU1JCAY6hntB);
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__weLyW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__kNakX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.text__v2UJf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.totalincome {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 5px;
  border-top-color: var(--token-ct9q_Fh0pmQL);
  border-right-color: var(--token-BU1JCAY6hntB);
  border-right-width: 3px;
  border-left-color: var(--token-BU1JCAY6hntB);
  border-left-width: 3px;
  border-bottom-color: var(--token-BU1JCAY6hntB);
  border-bottom-width: 3px;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__rg0Gp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__xv0Oz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.text___6MFma {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
