.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__mI0Os {
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 0px 18px;
}
.freeBox__mI0Os > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-vKd5iqKCSV_B));
  width: calc(100% + var(--token-vKd5iqKCSV_B));
}
.freeBox__mI0Os > :global(.__wab_flex-container) > *,
.freeBox__mI0Os > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mI0Os > :global(.__wab_flex-container) > picture > img,
.freeBox__mI0Os
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vKd5iqKCSV_B);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mI0Os {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__wlRyf {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wlRyf {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__kX5EF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.freeBox__yDzlb {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___79Bju {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__qdzkg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qdzkg {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__rSpg {
  object-fit: cover;
  max-width: 100%;
  height: 45px;
  margin-left: 10px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rSpg {
    height: 35px;
    margin-left: 5px;
  }
}
.h1 {
  width: auto;
  max-width: 100%;
  text-align: right;
  font-size: 30px;
  color: #3f4079;
  font-family: var(--iran-sans-x);
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 16px;
    white-space: pre;
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__tRrUy {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 1;
  min-width: 0;
  display: none;
  padding: 0px 8px;
}
.btnDashboard3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnDashboard3 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.svg__zKJrD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 50px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zKJrD {
    height: 30px;
    flex-shrink: 0;
  }
}
.text__boOut {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  user-select: none;
  font-family: var(--iran-sans-x);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__boOut {
    font-size: 6px;
  }
}
.freeBox__eYxhR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYxhR {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.lblUser {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  user-select: none;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lblUser {
    font-size: 12px;
    text-align: center;
  }
}
.btnLogout {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  user-select: none;
  margin-right: 5px;
  cursor: pointer;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #0070f3;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnLogout {
    font-size: 10px;
  }
}
.btnLogin:global(.__wab_instance) {
  max-width: 100%;
  height: 27px;
  flex-shrink: 0;
}
.svg__uv7UE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y4PTh {
  font-size: var(--token-5Ye_3XTSaP9X);
  font-family: var(--iran-sans-x);
  font-weight: 700;
  font-style: normal;
  color: var(--token-S9chob8ToCvC);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nvEv4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.gridCalculator2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 1px;
  margin-right: 1px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridCalculator2 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding-top: 0px;
  }
}
.freeBox__kQpa3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  grid-column-end: span 2;
  min-width: 0;
  border-radius: 10px;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQpa3 {
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-end: span 2;
    margin-top: 5px;
    display: flex;
  }
}
.cbProductlist:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cbProductlist:global(.__wab_instance) {
    align-self: center;
    height: 39px;
    margin-top: 8px;
    flex-shrink: 0;
  }
}
.text__yc1HJ {
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yc1HJ {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    text-align: center;
    font-size: 10px;
    min-width: 0;
  }
}
.freeBox__xmf4E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  grid-column-end: span 2;
  min-width: 0;
  border-radius: 10px;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmf4E {
    grid-column-end: span 4;
    margin-top: 5px;
    padding: 0px;
  }
}
.freeBox__ryqn7 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ryqn7 {
    padding: 0px;
  }
}
.freeBox__otz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-end: span 3;
  background: #ffffff;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 10px;
  padding: 0px 8px;
}
.txtSearch:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g9Og4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ms5F4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__syNqd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__syNqd {
    padding: 0px;
  }
}
.btnSearch:global(.__wab_instance) {
  max-width: 100%;
}
.svg__m4Wnv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yibz4 {
  font-family: var(--iran-sans-x);
  font-size: var(--token-8bH1BcrDPs2U);
  font-weight: 700;
  font-style: normal;
  color: #ededec;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__q9BGz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dqrH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dqrH {
    grid-column-end: span 6;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
.waitingIcon4 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  width: 35px;
  height: 23px;
  flex-shrink: 0;
  margin: 0px;
}
.gridInvoice1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridInvoice1 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
.freeBox__nu0RW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__okjgH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__okjgH {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    min-width: 0;
  }
}
.freeBox__akEKm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__i6Sbu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i6Sbu {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
    font-family: var(--iran-sans-x);
    font-weight: 700;
    font-style: normal;
    color: #535353;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre-wrap;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
    min-width: 0;
  }
}
.freeBox__lyMq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__tg0It {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tg0It {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
    font-family: var(--iran-sans-x);
    font-weight: 700;
    font-style: normal;
    color: #535353;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre-wrap;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
    min-width: 0;
  }
}
.freeBox___99KU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  grid-column-end: span 2;
  min-width: 0;
}
.text__g78Vz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g78Vz {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
    font-family: var(--iran-sans-x);
    font-weight: 700;
    font-style: normal;
    color: #535353;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre-wrap;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
    min-width: 0;
  }
}
.freeBox__u3Qr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__dci8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dci8K {
    font-size: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 0px;
    font-family: var(--iran-sans-x);
    font-weight: 700;
    font-style: normal;
    color: #535353;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre-wrap;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
    min-width: 0;
  }
}
.freeBox___27Oqy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text___4JzyT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4JzyT {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
    font-family: var(--iran-sans-x);
    font-weight: 700;
    font-style: normal;
    color: #535353;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre-wrap;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
    min-width: 0;
  }
}
.gridNoData {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridNoData {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.freeBox__jTdLx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jTdLx {
    grid-column-end: span 6;
  }
}
.text__efGxK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__efGxK {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    font-size: 10px;
    text-align: center;
    min-width: 0;
  }
}
.gridInvoice12 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridInvoice12 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    padding: 5px;
  }
}
.freeBox__pz9Hn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pz9Hn {
    align-items: center;
    justify-content: center;
  }
}
.text___1Ukim {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Ukim {
    font-size: 10px;
    height: 100%;
    min-height: 0;
  }
}
.freeBox__vaOyO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
.text__muoMh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__muoMh {
    font-size: 10px;
  }
}
.freeBox__bItIr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bItIr {
    align-items: center;
    justify-content: center;
  }
}
.text__novze {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__novze {
    font-size: 10px;
  }
}
.freeBox__xhYa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  grid-column-end: span 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xhYa {
    align-items: center;
    justify-content: center;
    grid-column-end: span 2;
  }
}
.text__iFc8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iFc8K {
    font-size: 10px;
  }
}
.freeBox__jyiv5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jyiv5 {
    align-items: center;
    justify-content: center;
  }
}
.text__ue8Il {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ue8Il {
    font-size: 10px;
  }
}
.freeBox__b7I2K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b7I2K {
    align-items: center;
    justify-content: center;
  }
}
.dialogNewInvoiceDetails:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.btnInvoiceInfo:global(.__wab_instance) {
  max-width: 100%;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnInvoiceInfo:global(.__wab_instance) {
    width: auto;
    height: 15px;
    align-self: center;
  }
}
.svg__yZFz6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0DPkl {
  font-family: var(--iran-sans-x);
  font-size: var(--token-5Ye_3XTSaP9X);
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0DPkl {
    text-align: center;
    font-size: var(--token-8bH1BcrDPs2U);
  }
}
.svg__eo32A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hjyW4 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gbaSs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gbaSs {
    grid-column-end: span 2;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.text__dXwej {
  font-family: var(--iran-sans-x);
  font-size: var(--token-TQJ-rnRNtYde);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.detailsDataApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.waitingIcon3 {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 35px;
  position: relative;
  margin-top: 20px;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
}
.text__gX5B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox__p9MF4 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p9MF4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__fayw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fayw {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 0;
    padding: 2px;
  }
}
.text__eFyjC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eFyjC {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 3px;
    font-size: 14px;
    text-align: left;
    min-width: 0;
  }
}
.freeBox__xw4Uu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-end: span 5;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xw4Uu {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__ilNf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lh01X {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lh01X {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox___9X6Dw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9X6Dw {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__ttxoQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ttxoQ {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 3px;
    font-size: 14px;
    text-align: left;
    min-width: 0;
  }
}
.freeBox__mmJqz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 5;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mmJqz {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__gtG3I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mNpc0 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mNpc0 {
    width: 100%;
    height: auto;
    max-width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__oJiDp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oJiDp {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 0;
    padding: 2px;
  }
}
.text__nt3Dh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nt3Dh {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 3px;
    font-size: 12px;
    min-width: 0;
  }
}
.freeBox__wWXr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 2;
  border-left-style: solid;
  border-left-width: 1px;
  min-width: 0;
  padding: 8px;
}
.freeBox__wWXr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wWXr {
    grid-column-end: span 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    border-left-style: solid;
    border-left-width: 1px;
    min-width: 0;
    padding: 2px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wWXr > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wWXr > :global(.__wab_flex-container) > *,
  .freeBox__wWXr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wWXr > :global(.__wab_flex-container) > picture > img,
  .freeBox__wWXr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__sUkj6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__x7W0A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x7W0A {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 0;
    padding: 2px;
  }
}
.text__u03CZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u03CZ {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 3px;
    font-size: 12px;
    text-align: left;
    min-width: 0;
  }
}
.freeBox__ck5Ih {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ck5Ih {
    grid-column-end: span 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__ehxJv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zuIb6 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zuIb6 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__lgVju {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgVju {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    display: none;
    padding: 2px;
  }
}
.text__uf3Hv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uf3Hv {
    margin-top: 3px;
  }
}
.freeBox__gteXz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 4;
  border-left-style: solid;
  border-left-width: 1px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gteXz {
    grid-column-end: span 2;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__yJbR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-family: var(--iran-sans-x);
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yJbR {
    margin-top: 3px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__g9TS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__g9TS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g9TS {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 2px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g9TS > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g9TS > :global(.__wab_flex-container) > *,
  .freeBox__g9TS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__g9TS > :global(.__wab_flex-container) > picture > img,
  .freeBox__g9TS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__d5OBx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d5OBx {
    margin-top: 3px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    min-width: 0;
  }
}
.freeBox__wCkQ5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 3;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wCkQ5 {
    grid-column-end: span 1;
  }
}
.text__kValp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kValp {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 3px;
    font-size: 12px;
    min-width: 0;
  }
}
.freeBox___5Mvt2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Mvt2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox___5RZuc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5RZuc {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__lyNBi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lyNBi {
    margin-top: 3px;
    font-size: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
.freeBox___7Pxtk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  border-left-width: 1px;
  border-left-style: solid;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Pxtk {
    grid-column-end: span 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__q3Gn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__m5Uw2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m5Uw2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__dcHhk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dcHhk {
    margin-top: 3px;
    font-size: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
.freeBox__z7Zuh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z7Zuh {
    grid-column-end: span 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__hcpvD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nW11 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nW11 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__m8Qc7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m8Qc7 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__v1Qby {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v1Qby {
    margin-top: 3px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    min-width: 0;
  }
}
.freeBox__s9UbW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  border-left-style: solid;
  border-left-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s9UbW {
    grid-column-end: span 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__gxPy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nuTfl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuTfl {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__sDeE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sDeE {
    margin-top: 3px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    min-width: 0;
  }
}
.freeBox__td6Le {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__td6Le {
    grid-column-end: span 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__iv3Fm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9Nc9Y {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Nc9Y {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__dcrlS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dcrlS {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__ahxu0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ahxu0 {
    margin-top: 3px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 12px;
    text-align: left;
    min-width: 0;
  }
}
.freeBox___7O1Me {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 3;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7O1Me {
    grid-column-end: span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 2px;
  }
}
.text__iUbqP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sideEffectPageLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.sideEffectFirstLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
