.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__yu3Wq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__yu3Wq > * {
  grid-column: 4;
}
.freeBox__cZc8M {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-right: 1px;
  margin-left: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cZc8M {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__ykg2C {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-row-end: span 1;
  grid-column-end: span 1;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ykg2C {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    min-height: 0;
  }
}
.text__yYvHa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  padding-top: 0px;
  font-family: var(--iran-sans-x);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yYvHa {
    font-size: var(--token-VrIY9r5RDQZ_);
    white-space: pre;
  }
}
.cbAccounts:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cbAccounts:global(.__wab_instance) {
    height: 39px;
    width: 100%;
    min-width: 0;
    margin: 0px;
  }
}
.text__pb1JB {
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pb1JB {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
    text-align: center;
    font-size: 12px;
    min-width: 0;
  }
}
.section__qMzwj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #ffffff;
  margin-top: 0px;
  padding-bottom: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__qMzwj > * {
  grid-column: 4;
}
.freeBox___3ZJqF {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 8px;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3ZJqF {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.freeBox__svMlS {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__svMlS {
    grid-column-end: span 2;
  }
}
.text__seYcE {
  font-size: var(--token-5Ye_3XTSaP9X);
}
.svg__rdKef {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  flex-shrink: 0;
}
.freeBox__jVnEv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__umN9X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__knZpp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bhXcQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__tpmsl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__z463 {
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  height: 1em;
}
.freeBox__kEd6I {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kEd6I {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.freeBox__jndjY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jndjY {
    grid-column-end: span 2;
  }
}
.txtCardNumber:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qOr33 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vZlr1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ctCdM {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__yLtZy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__pBt7G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pBt7G {
    font-size: 12px;
  }
}
.freeBox__qczrs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.txtName:global(.__wab_instance) {
  max-width: 100%;
}
.svg__baukT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8OahC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bg1Hr {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__sZXlm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__pWmKm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pWmKm {
    font-size: 12px;
  }
}
.freeBox__y8V5M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.txtBan:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kuP3B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___37L4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___2Vltj {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox___7GX1B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__ftRpy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ftRpy {
    font-size: 12px;
  }
}
.freeBox__wgxxz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.txtBank:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cqL2D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__le4Jc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fsMku {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fsMku {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.freeBox__vrdQd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__glNyP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__glNyP {
    grid-column-end: span 2;
  }
}
.button__hGky:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__hGky:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__u2Rk8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__u1Ee {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ks3Qo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.sideEffectGetCardInquiry:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5XxFc {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 0px;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5XxFc {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.freeBox__b6C2H {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.text___65Kei {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___65Kei {
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.freeBox___4HUL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4HUL {
    display: none;
  }
}
.text__oiRDy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oiRDy {
    font-size: 12px;
  }
}
.freeBox__xus6P {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xus6P {
    grid-row-end: span 1;
    grid-column-end: span 2;
  }
}
.text__d49O4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d49O4 {
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.freeBox__r15Js {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r15Js {
    display: none;
  }
}
.text__mDAxs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mDAxs {
    font-size: 12px;
  }
}
.freeBox__csYlM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__csYlM {
    display: none;
  }
}
.text__h2Jw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h2Jw {
    font-size: 12px;
  }
}
.freeBox__cJkB {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.text__xTn3I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xTn3I {
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.freeBox__uzKtl {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 0px;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uzKtl {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.freeBox__dapO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.text___02ZUw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___02ZUw {
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.freeBox__srAQf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__srAQf {
    display: none;
  }
}
.text__bokq2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bokq2 {
    font-size: 12px;
  }
}
.freeBox__jk7Eh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jk7Eh {
    grid-column-end: span 2;
  }
}
.text___8LP7N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8LP7N {
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.freeBox__ejo7F {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ejo7F {
    display: none;
  }
}
.text__vguLl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vguLl {
    font-size: 12px;
  }
}
.freeBox__vuRab {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vuRab {
    display: none;
  }
}
.text___6Yflh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6Yflh {
    font-size: 12px;
  }
}
.freeBox__ax76I {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ax76I {
    align-items: center;
    justify-content: center;
  }
}
.dialogDelete:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__sceD5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sceD5 {
    font-size: var(--token-VrIY9r5RDQZ_);
    margin: 5px 8px;
  }
}
.svg__yQ7M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kyFoW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bQuiU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__y8Juj {
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  height: 1em;
}
.text__cnYrs {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cnYrs {
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.freeBox__doNT {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kER {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.button__mwJuE:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qMrU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__y3CXo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gj3BV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__aKVpX:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__snf3O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iGefO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ygP6U {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px;
}
.freeBox__eiMuV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.text__aiwyU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aiwyU {
    font-size: var(--token-VrIY9r5RDQZ_);
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffectPageLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
