.pay {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#f1f5f9, #f1f5f9), #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.pay > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pay > * {
    grid-column: 4;
  }
}
.sideEffectPageLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__pxswz {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 10px;
  padding: 8px 0;
  border: 1px solid #ffffff;
}
.section__pxswz > * {
  grid-column: 4;
}
.freeBox__pTExT {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__szLnC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ekJj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ekJj {
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox__wlFOn {
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wlFOn {
    padding-right: 20px;
  }
}
.freeBox__sw5Wo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sw5Wo {
    padding: 0px;
  }
}
.text__yfhDc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yfhDc {
    font-size: var(--token-5Ye_3XTSaP9X);
  }
}
.text__srmzt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__srmzt {
    font-size: var(--token-5Ye_3XTSaP9X);
    font-weight: 400;
  }
}
.freeBox___30EL {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox___9J65H {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #e5d82d;
  flex-shrink: 0;
  display: none;
}
.text__dioiY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: center;
  margin-right: 10px;
  color: #ff0000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dioiY {
    font-size: var(--token-VrIY9r5RDQZ_);
    padding-right: 18px;
    margin-right: 0px;
    padding-left: 18px;
  }
}
.freeBox__mGnIw {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__fzrje {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button__vghbE:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nf16C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___6CmYv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__oAyiu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 10px;
  padding: 8px 0;
  border: 1px solid #ffffff;
}
.section__oAyiu > * {
  grid-column: 4;
}
.freeBox__tWorq {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__d90NV {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___71Hat {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___71Hat {
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox__jXecp {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox___4R2IR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__xy6SS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: right;
  font-size: var(--token-5Ye_3XTSaP9X);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xy6SS {
    font-size: var(--token-5Ye_3XTSaP9X);
    text-align: right;
    width: auto;
  }
}
.freeBox__qhNqD {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__g6Dgg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.paymentsMethod:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__xZoDo {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-OWTNIXc4x-Kq);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xZoDo {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-OWTNIXc4x-Kq);
    column-gap: 0px;
  }
}
.radio__jX9Ds:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radio__jX9Ds:global(.__wab_instance):global(.__wab_instance) {
    margin-top: 8px;
  }
}
.text__fd1Xz {
  width: 100%;
  white-space: pre;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fd1Xz {
    white-space: pre;
  }
}
.radio__mpWa8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radio__mpWa8:global(.__wab_instance):global(.__wab_instance) {
    margin-top: 8px;
  }
}
.text__qhL0P {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qhL0P {
    white-space: pre;
  }
}
.radio___0AuDz:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radio___0AuDz:global(.__wab_instance):global(.__wab_instance) {
    margin-top: 8px;
  }
}
.text__xIf3E {
  width: 100%;
  white-space: pre;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xIf3E {
    white-space: pre;
  }
}
.radio__fh8Uu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radio__fh8Uu:global(.__wab_instance):global(.__wab_instance) {
    margin-top: 8px;
  }
}
.text__dzhSk {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dzhSk {
    white-space: pre;
  }
}
.radio___6Q1W7:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radio___6Q1W7:global(.__wab_instance):global(.__wab_instance) {
    margin-top: 8px;
  }
}
.text__n3LPy {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n3LPy {
    white-space: pre;
  }
}
.radio__bKkAp:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radio__bKkAp:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    margin-top: 8px;
    min-width: 0;
  }
}
.text__wCfBy {
  width: 100%;
  white-space: pre;
  user-select: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wCfBy {
    width: 100%;
    white-space: pre;
    min-width: 0;
  }
}
.freeBox__j1DeF {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__x9B2M {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.btnPayMethod:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ofySl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iCq0D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xg2W:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 10px;
}
.svg___6Igtd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tXmXt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dWXnV {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dWXnV {
    margin-top: 10px;
  }
}
.text__gdxeS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-5Ye_3XTSaP9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gdxeS {
    text-align: center;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
